@{
    ViewData["Title"] = "Home Page";
}

<center><h1><img height="50px" src="~/fotos/icone.png">
  Documentação do Sistema<img height="50px" src="~/fotos/icone.png"> </h1></center>
 <br/>

<div class="Manual Do Elevador">
    <h4> Projeto final de Tatiana Carvalho, para conclusão do curso MS-DEV Samsung Ocean - Prof Lucas Aragão.</h4><br> 
</div>
<br>
<h2> Veja agora algumas telas do projeto:</h2>
<br>
<br>
<center><h3> _________ Telas iniciais _________ </h3></center>
<br>
<br>
<h3> Tela de Boas vindas + Quantos Andares</h3>
<div class="Detalhamento">
    Ao inciar ele apresentará o nome do Programa, em seguida perguntará quantos andares tem o <strong>Edifício Felicidade</strong>.<br> 
    <img height="380px" src="~/Fotos/bemvindoandares.png">    
</div>
<br>

<h3> Menu: </h3>
<div class="Detalhamento">
    Em seguida irá perguntar quantas pessoas cabem no elevador.<br>
    <img height="380px" src="~/Fotos/quantospessoas.png">
</div>
<br>

<h3> Painel do Elevador </h3>
<div class="Detalhamento">
    Assim que inserir as informações o Programa irá apresentar o Painel com todas as informações necessárias para o usuário.<br/>
    <img height="380px" src="~/Fotos/paineldoelevador.png">
</div>

<br>
<br>
<center><h3> _________ Funcionamento do Elevador _________ </h3></center>
<br>
<br>
<br>
<center><h2> _________ Passageiros _________ </h2></center>
<br>
<br>

<h3> Passageiros entrando</h3>
<div class="detalhamento">
    Digitando a tecla <strong> E </strong> o programa entende que entrou uma pessoa no elevador e comunica ao usuário. <br>
    <img height="380px" src="~/Fotos/entrandopessoa.png">
</div>    
<br>

<h3> Elevador Cheio </h3>
<div class="detalhamento">
    Quando o elevador atinge sua capacidade máxima de passageiros ele informa ao usuário, impedindo de entrar mais passageiros. <br>
    <img height="380px" src="~/Fotos/elevadorcheio.png">
</div>
<br>

<h3> Passageiros Saindo</h3>
<div class="detalhamento">
     Digitando a tecla <strong> S </strong> o programa entende que uma pessoa saiu do elevador e comunica ao usuário.<br>
    <img height="380px" src="~/fotos/saindopessoa.png">
</div>
<br>
<h3> Elevador Vazio</h3>
<div class="detalhamento">  
    Quando o elevador fica sem passageiros ele informa ao usuário que está vazio.<br>
    <img height="380px" src="~/fotos/elevadorvazioo.png">
</div>
<br>
<br>
<br>
<center><h2> _________ Andares _________ </h2></center>
<br>
<br>
<h3> Elevador Subindo</h3>
<div class="detalhamento">
   Digitando a seta <strong> PARA CIMA </strong> o programa entende que o elevador deseja SUBIR um andar e comunica o usário. <br>
    <img height="380px" src="~/fotos/subindoandar.png">
</div>

<br>
<h3> Elevador na Cobertura</h3>
<div class="detalhamento">
    Quando o elevador chega no andar mais alto, na <strong>COBERTURA</strong>, o programa comunica o usuário que não há mais como subir. <br>
    <img height="380px" src="~/fotos/cobertura.png">
</div>
<br>

<h3> Elevador Descendo</h3>
<div class="detalhamento">
   Digitando a seta <strong> PARA BAIXO </strong> o programa entende que o elevador deseja DESCER um andar e comunica o usário. <br>
    <img height="380px" src="~/fotos/descendoumandarr.png">
</div>
<br>

<h3> Elevador no Térreo</h3>
<div class="detalhamento">
    Quando o elevador chega no andar mais baixo, no<strong> TÉRREO </strong>, o programa comunica o usuário que não há mais como descer. <br>
    <img height="380px" src="~/fotos/terreo.png">
</div>
<br>



<h3> Saindo do Programa</h3>
<div class="detalhamento">
    Para finalizar o programa  pressionar a tecla <strong>ESC</strong><br>
    <img height="380px" src="~/fotos/paineldoelevador.png">
</div>